build:
  type: text
  content: |-
    #!/bin/sh
    demo
    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
pulumi_content: |-
  #!/bin/sh
  pulumi deploys
pulumi_git_path: helm-vote
pulumi_uninstall: |-
  #!/bin/sh
  pulumi destroy
TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Git_path: election-commission
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Bhavya Goswami
lastUpdatedOn: 2023-02-25T18:47:28.152Z
