TF_Content: |-
  #!/bin/sh
  p
  terraform init
  terraform apply --auto-approve
TF_Git_path: ''
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
CDK_Content: |-
  #!/bin/sh
  ff
  cdk deploy
CDK_Git_path: election-commission/public
CDK_Uninstall: |-
  #!/bin/sh

  cdk destroy
pulumi_content: |-
  #!/bin/sh
  pulumi deploy
pulumi_git_path: /
pulumi_uninstall: |-
  #!/bin/sh
  pulumi destroy
lastUpdatedBy: Bhavya Goswami
lastUpdatedOn: 2023-03-03T05:03:45.401Z
